/* Import url for google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Trirong:wght@300&display=swap');

/* Universal style selector to remove margin, padding and border for all elements 
and using box-border to include padding and border in elements total height and width */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Style rule to set font for text within the body of the webpage */
body {
    font-family: "Open Sans", sans-serif;
}

/* Style rule to set font family and space letters of logo and cover text*/
h1,
h2,
h3,
#cover-text {
    font-family: Trirong, sans-serif;
    letter-spacing: 3px;

}

/* Style rule to set logo h1 element to uppercase */
h1 {
    text-transform: uppercase;
}

/* Style rule to set size and weight of font and move text up using line-height */
h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 30%;
}

/* Style rule to center headings */
h3 {
    text-align: center;
}

/* Style rule to set line height with text centered vertically for all headings with this class attribute */
.heading {
    line-height: 75px;
}

.border {
    border: 1px solid #e3b26a;
    border-radius: 10px;
}

/* LOGO */
/* Style rule for logo to set element size and position */
#logo {
    width: 500px;
    height: 75px;
    float: left;
    text-align: center;
}

/* Style rule to set size, position and color of logo-background */
.logo-background {
    max-width: 400px;
    height: 75px;
    margin: 0 50px;
    background-color: white;
}

/* Style rule to remove text decoration and set color of logo */
#logo a {
    text-decoration: none;
    color: black;
}

/* NAVIGATION */
/* Style rule to set depth of nav bar with links centered vertically, space letters to match logo and set background color */
#navigation {
    letter-spacing: 3px;
    line-height: 75px;
    background-color: #111e79;
}

/* Style rule to position nav links on right of the page and set text color */
nav>ul {
    text-align: right;
    color: white;
}

/* Style rule to display nav links in a row, remove bullet points and add margin after each link */
#navigation li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

/* Style rule to remove underline and inherit default colour from the body */
#navigation a {
    text-decoration: none;
    color: inherit;
}

/* Style rule to add border under nav links as cursor hovers over and set border thickness, style and color */
#navigation a:hover {
    border-bottom: 1px solid #e3b26a;
}

/* Style rule to add border under the nav link of the current page and set border thickness, style and color */
.active {
    border-bottom: 1px solid #e3b26a;
}

/* HERO IMAGE */
#index-hero-image,
#gallery-hero-image,
#contact-hero-image,
#find-hero-image {
    width: 100%;
}

#gallery-hero-image,
#contact-hero-image,
#find-hero-image {
    height: 300px;
}

/* Style rule to display the hero image and set size and position */
#index-hero-image {
    height: 450px;
    background: url('../images/index-hero.jpg') no-repeat center center;
}

#gallery-hero-image {
    background: url('../images/gallery-hero.jpg') no-repeat center center;
}

#contact-hero-image {
    background: url('../images/contact-hero.jpg') no-repeat center center;
}

#find-hero-image {
    background: url('../images/find-hero.jpg') no-repeat center center;
}

/* COVER TEXT */
/* Style rule to set font properties, add space between lines, add padding to sides of text, 
add curved corners to bottom of div, 
set size of the div, 
background color 
and position of div */
#cover-text {
    font-size: 19px;
    text-align: center;
    line-height: 40px;
    padding: 0 14px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    width: 400px;
    height: 150px;

    background-color: white;

    position: absolute;
    top: 75px;
    left: 50px;

}

/* Style rule to display decorative element and set size and position */
.decor {
    height: 30px;
    background: url(../images/decor.png) no-repeat center center;
    background-size: contain;
    margin: 10px 0;
}

/* Style rules used by sections containing columns */
/* Style rule to center container with margin on both sides*/
.container {
    Width: 90%;
    margin: auto;
}

/* Style rule to clear floats after the columns to display subsequent elements below the row */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style rule to create two equal width columns next to each other */
.col-50 {
    float: left;
    width: 50%;
    padding: 20px 10px 20px
}

/* Style rule to size the images to fit the space in the column and set curved corners */
img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

/* UNIVERSAL STYLE RULES FOR FORM ELEMENTS */
/* Style rule to set width, height, top and bottom margins and border thickness, style, color and curved corners */
input[type=text],
input[type=email],
input[type=tel],
select,
input[type=date],
textarea,
input[type=submit] {
    width: 100%;
    height: 44px;
    margin: 6px 0;
    padding: 12px;
}

/* Style rule to set width, color properties and remove previously set border properties */
input[type=submit] {
    background-color: #111e79;
    color: white;
    border: none;
    border-radius: 10px;
}

/* Style rule for responsive action when hovering over submit button */
input[type=submit]:hover {
    opacity: 0.8;
}

/* ABOUT */
/* Style rule to set height of text div and add padding around text */
.text-about {
    height: 225px;
    padding: 0 20px 20px;
    text-align: justify;
}

/* Style rule to center image in div */
.img-about {
    text-align: center;
    padding: 0 20px;
}

/* REVIEWS */
/* Style rule to center reviews text, set height of div and add padding around content */
#reviews {
    text-align: center;
    height: 300px;
    padding: 75px 0;
}

/* Style rule to create three equal columns that float next to each other for review content */
.col-30 {
    float: left;
    /* min-height: 150px; */
    width: 33%;
}

/* Style rule to add margin around reviews to separate */
.review-content {
    margin: 5%;
}

/* Style rule to set color of stars */
.star-color {
    color: #e3b26a;
}

/* GALLERY */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    background-color: #e3b26a;
}

#photos>img {
    width: 100%;
}

/* VIDEO */

#video {
    text-align: center;
    background-color: #e3b26a;
}

.container-vid {
    border-radius: 20px 20px 0 0;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px; */
    background-color: white;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.cake-vid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* CONTACT */

.contact-details {
    text-align: center;
}

.contact-details {
    font-size: 2vw;
    /* border-radius: 20px; */
}

.contact-details i {
    margin: 20px 20px 20px 0;
    color: #e3b26a;
}

#contact p {
    text-align: center;
}

.contact-form {
    height: 450px;
}

.contact-form p {
    text-align: center;
}

/* FIND */
.address,
.times {
    padding: 20px 0;
    text-align: center;
}

.address {
    margin-bottom: 10px;
}

#find i {
    color: #e3b26a;
}

/* NEWSLETTER SIGN-UP */
/* Style rule to set height of newsletter section and background color */
#newsletter {
    height: 300px;
    background-color: #d7dbfe;
}

/* Style rule to reset width to default and set margins to reduce width to match widest contained element */
#newsletter .container {
    Width: unset;
    Display: table;
}

#newsletter .decor {
    margin: 4.5px 0;
}

/* Style rule to set size and position of newsletter header */
.nl-header {
    text-align: center;
}

.sign-up-form .sign-up-button {
    width: 200px;
}

/* Style rule to display element upside down */
.invert {
    transform: scaleY(-1);
}

/* SOCIAL MEDIA LINKS */
/* Style rule to set height and color of section */
#social-media {
    height: 75px;
    background-color: #111e79;
}

/* Style rule to center social media links*/
.social-media-links {
    text-align: center;
}

/* Style rule to display social media links in a row */
.social-media-links>li {
    display: inline;
}

/* Style rule to set size of social media icons, separte icons, center icons vertically and set icon color */
.social-media-links i {
    font-size: 200%;
    margin: 0 10%;
    line-height: 75px;
    color: white;
}

/* RESPONSIVENESS */

/*  */
@media only screen and (max-width: 1570px) {
    .text-about {
        height: 300px;
    }
}

/*  */
@media only screen and (max-width: 1200px) {
    .text-about {
        height: 375px;
    }
}

/* Devices up to 992px */
@media only screen and (max-width: 992px) {

    /* Style rules to position logo accross the whole width of the page */
    header {
        height: 75px;
    }

    #logo {
        width: 100%;
        float: none;
        margin: auto;
    }

    .logo-background {
        margin: auto;
    }

    /* Style rule to position navigation links below cover text and add border to separate*/
    #navigation {
        width: 100%;
        /* background-color: #111e79; */
        position: absolute;
        top: 150px;
    }

    /* Style rule to center navigation links */
    nav>ul {
        text-align: center;
    }

    /* Style rule to set left and right margins on navigation links */
    #navigation li {
        margin: 0 8px 0;
    }

    #hero {
        margin-top: 150px;
    }

    /* Style rule to replace index-hero-image with smaller version */
    #index-hero-image {
        background: url('../images/index-hero-max-992.jpg') no-repeat center center;
    }

    /* Style rule to set size and position of cover text, and remove curved bottom corners */
    #cover-text {
        height: 75px;
        width: 100%;
        line-height: unset;
        left: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 0;
    }

    /* Style rule to set size and position of decorative element */
    #cover-text .decor {
        margin: 5px;
    }

    #cover-text p {
        margin: auto;
    }

    #about {
        margin-top: 600px;
    }

    #photos,
    #contact {
        margin-top: 450px;
    }

    .col-50,
    .col-30 {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .text-about,
    .contact-form {
        height: unset;
    }

    #reviews {
        height: auto;
        padding: 0;
    }

    .contact-details {
        font-size: 20px;
    }

    .contact-form .col-50 {
        text-align: left;
    }
}

/* Devices up to 768px */
@media only screen and (max-width: 768px) {

    /* Style rule to reset cover-text font size to default */
    #cover-text {
        font-size: unset;
    }

    #photos {
        column-count: 3;
    }
}

/* Devices up to 600px */
@media screen and (max-width: 600px) {

    nav>ul {
        text-align: center;
        line-height: 37.5px;
    }

    #navigation li {
        display: block;
    }

    .contact-details {
        font-size: 16px;
    }
}