/* Import url for google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Trirong:wght@300&display=swap');

/* Universal style selector to remove margin, padding and border for all elements 
and using box-border to include padding and border in elements total height and width */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Style rule to limit width of page to 1920px, center the page on screen and set font for text within the body of the webpage */
body {
    max-width: 1920px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

/* Style rule to set font family and space letters of logo and cover text*/
h1,
h2,
h3,
#cover-text {
    font-family: Trirong, sans-serif;
    letter-spacing: 3px;
}

/* Style rule to set logo h1 element to uppercase */
h1 {
    text-transform: uppercase;
    line-height: 2.5ch;
}

/* Style rule to set accessability font-size, weight of font and move text up using line-height */
h2 {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 2ch;
}

/* Style rule to center headings */
h3 {
    text-align: center;
}

/* Style rule to set all paragraph text to consistent accessabilty friendly font-size */
p {
    font-size: 1.25rem;
}

/* Style rule to set line height with text centered vertically for all headings with this class attribute */
.heading {
    margin: 30px 0 20px;
}

/* Style rule to set border thickness, style, color for all elements with .border class */
.border {
    border: 1px solid #e3b26a;
}

/* Style rule to set curved corners for all elements with .border and .corners class */
.border,
.corners {
    border-radius: 15px;
}

/* LOGO */
/* Style rule for logo to set element size and position */
#logo {
    width: 450px;
    float: left;
    text-align: center;
}

/* Style rule to set size, position, background color of logo-background 
and set border thickness, style and color and curved corners*/
.logo-background {
    width: 400px;
    margin: 0 25px;
    background-color: #ffffff;
    border-bottom: 2px solid #e3b26a;
    border-left: 2px solid #e3b26a;
    border-right: 2px solid #e3b26a;
    border-radius: 0 0 50px 50px;
}

/* Style rule to remove text decoration and set color of logo */
#logo a {
    text-decoration: none;
    color: #000000;
}

/* COVER TEXT */
/* Style rule to center the text and add padding to text to separate from edges */
.cover-text {
    text-align: center;
    padding: 10px 50px;
}

/* Style rule to display decorative element, set size and add space below */
.decor {
    background: url(../images/decor.webp) no-repeat center center;
    height: 30px;
    background-size: contain;
    margin-bottom: 10px;
}

/* NAVIGATION */
/* Style rule to set depth of nav bar with links centered vertically, space letters to match logo, 
set background color gradient and solid background color for when browser does not support background gradient */
#navigation {
    line-height: 75px;
    letter-spacing: 3px;
    background-color: #127c8f;
    background-image: linear-gradient(to right, #127c8f, #013944);
}

/* Style rule to position nav links on right of the page with a margin from the right and set text color of the links */
nav>ul {
    margin-right: 25px;
    text-align: right;
    color: #ffffff;
}

/* Style rule to set accessablity friendly font-size, display nav links in a row, remove bullet points, center the text and set height of links */
#navigation li {
    font-size: 1.25rem;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    height: 100%;
}

/* Style rules to set width of each navigation link using character width unit */
.nav-index {
    width: 7ch;
}

.nav-gallery {
    width: 10ch;
}

.nav-contact {
    width: 13ch;
}

.nav-find {
    width: 10ch;
}

/* Style rule to remove underline and inherit default colour from the body */
#navigation a {
    text-decoration: none;
    color: inherit;
}

/* Style rule to set font, set to bold and add border under nav links as cursor hovers over 
and set border thickness, style and color */
#navigation a:hover {
    font-family: trirong, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #e3b26a;
}

/* Style rule to change font, set to bold and add border under the nav link of the current page and set border thickness, style and color */
.active {
    font-family: trirong, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #e3b26a;
}

/* HERO IMAGES */
/* Style rule to set width of div containing hero image */
#index-hero-image,
#gallery-hero-image,
#find-hero-image {
    width: 100%;
}

/* Style rule to set height of div containing hero image */
#gallery-hero-image,
#contact-hero-image,
#find-hero-image {
    height: 300px;
}

/* Style rule to display the index hero image and set height and position */
#index-hero-image {
    height: 450px;
    background: url('../images/index-hero.webp') no-repeat center center;
}

#gallery-hero-image {
    background: url('../images/gallery-hero.webp') no-repeat center center;
}

#contact-hero-image {
    background: url('../images/contact-hero.webp') no-repeat center center;
    background-size: auto 300px;
}

#find-hero-image {
    background: url('../images/find-hero.webp') no-repeat center center;
}

/* STYLE RULES USED BY SECTIONS CONTAINING COLUMNS */
/* Style rule to center container */
.container {
    Width: 90%;
    margin: auto;
}

/* Style rule to clear floats after the columns to display subsequent elements below the row */
.row:after {
    content: '';
    display: table;
    clear: both;
}

/* Style rule to create two equal width columns next to each other with padding to position content away from edges */
.col-50 {
    float: left;
    width: 50%;
    padding: 0 10px;
}

/* Style rule to size the images to fit the space in the column and set curved corners */
img {
    max-width: 100%;
    max-height: 100%;
}

/* UNIVERSAL STYLE RULES FOR FORM ELEMENTS */
/* Style rule to set width, top and bottom margins to separate, padding to set input text away from edges, 
time taken to transition between styles, remove outline when clicked on and set font-family and accessability friendly font-size */
input[type=text],
input[type=email],
input[type=tel],
select,
input[type=date],
textarea,
input[type=submit] {
    width: 100%;
    margin: 6px 0;
    padding: 12px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

/* Style rule to set background color and text color and remove previously set border properties */
input[type=submit] {
    background-color: #013944;
    color: #ffffff;
    border: none;
}

/* Style rule to set border thickness, style and color when cursor hovers over input */
input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
select:hover,
input[type=date]:hover,
textarea:hover,
input[type=submit]:hover {
    border: 1px solid #013944;
}

/* Style rule to set border thickness, style and color when input is clicked on */
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
select:focus,
input[type=date]:focus,
textarea:focus,
input[type=submit]:focus {
    border: 2px solid #e3b26a;
}

/* Style rule for responsive action when hovering over submit button */
input[type=submit]:hover {
    opacity: 0.8;
}

/* ABOUT */
/* Style rules to make columns equal height*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container .col-50 {
    display: grid;
}

/* Style rule to add padding around text and set alignment to justify */
.text-about {
    padding: 0 20px 20px;
    text-align: justify;
}

/* Style rule to add margin below paragraphs to separate */
.text-about p {
    margin-bottom: 20px;
}

/* Style rule to set image position at bottom of column to ensure they are both at same height on page, 
center images and add padding to match text */
.img-about {
    align-self: flex-end;
    margin: 0 auto;
    padding: 0 20px;
}

/* REVIEWS */
/* Style rule to center reviews text and add padding around content for positioning */
#reviews {
    text-align: center;
    padding: 75px 0;
}

/* Style rule to create three equal columns that float next to each other for review content */
.col-30 {
    float: left;
    width: 33%;
}

/* Style rule to add margin around reviews to separate */
.review-content {
    margin: 5%;
}

/* Style rule to set color of stars */
.star-color {
    color: #e3b26a;
}

/* Style rule to add space between star rating and review text */
.bold {
    font-weight: bold;
    margin-top: 10px;
}

/* GALLERY */
/* Style rule to add margin to left and right of photos section, create gallery with 4 columns with 12px gap between columns, 
set background color and set border thickness, style and color */
/* Code taken from love running project */
#photos {
    margin: 0 12px;
    clear: both;
    column-count: 4;
    line-height: 0;
    column-gap: 12px;
    background-color: #e3b26a;
    border: 8px solid #ffffff;
}

/* Style rule to add margin above images to separate, make images square and set outline thickness, style and color */
#photos img {
    margin-top: 12px;
    aspect-ratio: 1;
    object-fit: cover;
    outline: 8px solid #ffffff;
}

#photos .top-4 {
    margin-top: 0;
}

/* VIDEO */
/* Style rule to center video and set width at 50% of page width, and add fixed bottom margin for space below video */
#video {
    margin: 0 25% 12px;
}

/* Style rule to hide corners of video to display curved corners, set positioning and aspect ratio of the video */
/* Code taken from https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
.video-container {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio ( 9/16 = 0.5625) */
    border: 1px solid #ffffff;
}

/* Style rule to set position and make sure the whole video is visible in video-container */
.video-cake {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* CONTACT */

/* Style rule to add margin below text to add space and center text */
/* Reused for find page */
.contact-text,
.find-text {
    margin-bottom: 20px;
    text-align: center;
}

/* Style rule to add padding to create space between text and border */
.contact-details {
    padding: 20px;
}

/* Style rule to set margins around icons to center vertically in container, separate from proceding text and set icon color */
.contact-details i {
    margin-right: 20px;
    color: #e3b26a;
}

/* Style rule to center content of paragraph elements */
#contact p {
    text-align: center;
}

/* Style rule to add bottom margin to add space below form */
.contact-form {
    margin-bottom: 6px;
}

/* Style rule to set height of textarea for even layout of elements in two columns */
.contact-form textarea {
    height: 313px;
}

/* FIND */
/* Style rule to add bottom margin to add space below content */
#find {
    margin-bottom: 12px;
}

/* Style rule to add top and bottom padding to create space between text and edges of container, and center text */
.address,
.times {
    padding: 20px 0;
    text-align: center;
}

/* Style rule to add margin between address container and open times container */
.address {
    margin-bottom: 10px;
}

/* Style rule to set color of icons*/
#find i {
    color: #e3b26a;
}

/* Style rule to set size of image responsive to viewport width */
#find img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Style rule to size of google map */
.map {
    width: 100%;
    height: 300px;
}

/* NEWSLETTER SIGN-UP */
/* Style rule to set height of newsletter section and background color */
#newsletter {
    min-height: 300px;
    background-color: #e0ecef;
}

/* Style rule to reset width to default and set margins to reduce width to match widest contained element */
#newsletter .container {
    Width: unset;
    Display: table;
}

/* Style rule to set top and bottom margins for positioning */
#newsletter .decor {
    margin: 4.5px 0;
}

/* Style rule to set size and position of newsletter header */
.nl-header {
    text-align: center;
}

/* Style rule to set width of submit button */
.sign-up-form .sign-up-button {
    width: 200px;
}

/* Style rule to display element upside down */
.invert {
    transform: scaleY(-1);
}

/* SOCIAL MEDIA LINKS */
/* Style rule to set height and color of section, set background color gradient and 
solid background color for when browser does not support background gradient */
#social-media {
    height: 75px;
    background-color: #127c8f;
    background-image: linear-gradient(to right, #127c8f, #013944);
}

/* Style rule to center social media links*/
.social-media-links {
    text-align: center;
}

/* Style rule to display social media links in a row */
.social-media-links>li {
    display: inline;
}

/* Style rule to set size of social media icons, separte icons, center icons vertically and set icon color */
.social-media-links i {
    font-size: 200%;
    margin: 0 10%;
    line-height: 75px;
    color: #e3b26a;
}

/* RESPONSIVENESS */

/* Devices larger than 1920px wide */
@media only screen and (min-width: 1921px) {

    /* Style rule to add border to left and right of the page */
    body {
        border-left: 2px solid #127c8f;
        border-right: 2px solid #013944;
    }

    /* Style rule to limit font-size */
    /* .contact-details {
        font-size: 2.4rem;
    } */
}

/* Devices smaller than 1500px wide */
@media only screen and (max-width: 1499px) {

    /* Style rule to set responsive left and right margins and fixed bottom margin */
    #video {
        margin: 0 10% 12px;
    }
}

/* Devices between 1400px and 993px */
@media only screen and (max-width: 1400px) and (min-width: 993px) {

    /* Style rule to set alternative hero image for positioning of focal point */
    #find-hero-image {
        background: url('../images/find-hero-max-1400-min-993.webp') no-repeat center center;
    }
}

/* Devices between 1200px and 993px */
@media only screen and (max-width: 1200px) and (min-width: 993px) {

    /* Style rule to set alternative hero image for positioning of focal point */
    #contact-hero-image {
        background: url('../images/contact-hero-max-1200-min-993.webp') no-repeat right center;
        background-size: auto 300px;
    }
}

/* Devices up to 992px */
@media only screen and (max-width: 992px) {

    /* Style rules to position logo accross the whole width of the page */
    #logo {
        width: 100%;
        float: none;
        margin: auto;
    }

    /* Style rule to set logo background to full width of page, center logo, 
    remove right and left border and remove curved corners */
    .logo-background {
        width: 100%;
        margin: auto;
        border: none;
        border-bottom: 1px solid #e3b26a;
        border-radius: unset;
    }

    /* Style rule to set navigation menu width to full page width */
    #navigation {
        width: 100%;
        /* position: absolute; */
        /* top: 150px; */
    }

    /* Style rule to center navigation menu */
    nav>ul {
        margin: 0;
        text-align: center;
    }

    /* Style rule to center navigation links */
    #navigation li {
        margin: auto;
    }

    /* Style rule to replace index-hero-image with smaller version */
    #index-hero-image {
        background: url('../images/index-hero-max-992.webp') no-repeat center center;
    }

    /* Style rule to add space above and below reviews section */
    #reviews {
        margin: 10px 0;
    }

    /* Style rule to add space above and below each review to separate and reduce width of content */
    .review-content {
        margin: 10px 10%;
    }

    /* Style rule to position columns on top of each other */
    .col-50,
    .col-30 {
        width: 100%;
        height: auto;
        text-align: center;
    }

    /* Style rule to set height to fit content and remove padding to reduce white space */
    #reviews {
        height: auto;
        padding: 0;
    }    

    /* Style rule to reduce number of gallery columns to 3 */
    #photos {
        column-count: 3;
    }

    #photos .top-4 {
        margin-top: 12px;
    }

    #photos .top-3 {
        margin-top: 0;
    }

    /* Style rule to set accessability friendly font-size */
    /* .contact-details {
        font-size: 1.25rem;
    } */

    /* Style rule to add bottom margin to telephone contact details to add space between telephone and email */
    .telephone {
        margin-bottom: 12px;
    }

    /* Style rule to set left text alingnment for contact form labels */
    .contact-form .col-50 {
        text-align: left;
    }

    /* Style rule to set top and bottom margin for spacing */
    .address {
        margin: 6px 0 12px;
    }
}

/* Devices up to 768px */
@media only screen and (max-width: 768px) {

    /* Style rule to reduce number of gallery columns to 2 */
    #photos {
        column-count: 2;
    }

    #photos .top-3 {
        margin-top: 12px;
    }

    #photos .top-2 {
        margin-top: 0;
    }
}

/* Devices up to 600px */
@media screen and (max-width: 600px) {

    /* Style rule to vertically space nav links equally */
    nav>ul {
        line-height: 4ch;
    }

    /* Style rule to display nav links on top of each other */
    #navigation li {
        display: block;
        height: 4ch;
    }

    /* Style rule to display alternative hero image for postioning of focal point */
    #find-hero-image {
        background: url('../images/find-hero-max-600.webp') no-repeat center center;
    }

    /* Style rule to reduce number of gallery columns to 1 */
    #photos {
        column-count: 1;
    }

    #photos .top-2 {
        margin-top: 12px;
    }

    #photos .top-1 {
        margin-top: 0;
    }

    /* Style rule to reset height of newsletter sign up container to fit content and add padding to create space */
    #newsletter {
        height: unset;
        padding: 10px;
    }
}